/* Variables */
:root {
    --background-dark: #010440;
    --background-medium: #3D3D3D;
    --background-light: #fff;
    --primary-color: #05f2f2;
    --secondary-color: #fff;
    --tertiary-color: #2e2e2e;
}

/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-dark);
    font-size: 1rem;
    color: var(--secondary-color);
    line-height: 1.6;
}

a {
    color: var(--secondary-color);
}

/* Header */

nav ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
}

nav a {
    display: block;
}

nav a:hover {
    color: var(--primary-color);
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

footer h2 {
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
}

footer a {
    display: block;
}

footer p {
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}